VITE_APP_TITLE='Vue Starter'
VITE_BASE_API=

VITE_SERVER_HOST=vue-starter.test
VITE_SERVER_PORT=3000
VITE_SERVER_HTTPS_PATH_CERT=C:/laragon/etc/ssl/laragon.crt
VITE_SERVER_HTTPS_PATH_KEY=C:/laragon/etc/ssl/laragon.key
VITE_SERVER_HTTPS_CIPHERS=ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv3:+EXP
